body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.header_1 {
  display: flex;
  justify-content: space-between;
  margin: 23px 8vw;
  align-items: center;
}

.header_1a {
  display: flex;
  align-items: center;
}

.header_search input {
  border: none;
  background-color: transparent;
  margin-left: 24px;
}

.header_search img {
  margin-right: 20px;
}

.header_search {
  display: flex;
  background-color: #f5f5f5;
  width: 30vw;
  border-radius: 20px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}

.header_search input {
  outline: none;
}

.btn_login {
  border: 1px solid #2a7ae4;
  color: #2a7ae4;
  background-color: transparent;
  width: 152px;
  font-size: 14px;
  height: 45px;
  cursor: pointer;
}

.btn_admin {
  border: 2px solid #2a7ae4;
  color: #2a7ae4;
  background-color: transparent;
  width: 152px;
  font-size: 14px;
  height: 45px;
  cursor: pointer;
  font-weight: bold;
}

.btn_login:hover {
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shado: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.header_2 {
  background-color: #2a7ae4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%230067ce' fill-opacity='0.74'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.74'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  height: 350px;
  padding: 0px 8vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: repeat;
  background-size: fixed;
  background-attachment: fixed;
  background-position: fixed;
}

.header_2_text {
  margin-bottom: 40px;
  color: black;
  font-weight: bold;
}

.header_2 h1 {
  font-size: clamp(3vmin, 6vmin, 2.5rem);
  margin: 0px;
}
.header_2_h1 {
  background-color: white;
  padding: 5px 10px;
}
.btn_view {
  width: 130px;
  color: #2a7ae4;
  border: none;
  background: white;
  font-weight: bold;
  padding: 16px;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
}

.btn_view:hover {
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shado: 1px 1px 10px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.45);
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
}

footer {
  display: flex;
  background: #eaf2fd;
  justify-content: space-between;
  padding: 80px 8vw;
  font-size: 0.9rem;
  align-items: flex-start;
  height: 100%;
}

.footer_1 {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.footer_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}
.footer_list p {
  margin: 0px;
}

.footer_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

.footer_form p {
  margin: 0px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 0.9rem;
}

.footer_form input {
  width: 40vw;
  border: none;
  margin-bottom: 10px;
}

.footer_form input::placeholder {
  padding: 20px;
}

.input_1 {
  height: 56px;
  padding: 10px 0px 0px 0.7rem;
}
.input_2 {
  height: 82px;
  padding: 10px 0px 0px 0.7rem;
}

.btn_footer {
  width: fit-content;
  color: white;
  border: none;
  background: #2a7ae4;
  padding: 16px;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
  margin: 0px;
}

main {
  background-color: whitesmoke;
  padding: 50px 0px 50px 0px;
  height: 100%;
}

.section {
  display: flex;
  padding: 20px 8vw;
  justify-content: space-between;
}

.section p {
  font-size: 32px;
  font-weight: bolder;
  line-height: 38px;
  margin: 0px;
}

.items_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 176px);
  justify-content: space-between;
  padding: 0px 8vw 40px 8vw;
}

.items {
  margin-bottom: 10px;
  background: white;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.35);
}

.item_text {
  padding: 0px 0px 10px 10px;
}

.item_image {
  width: 176px;
  height: 176px;
  object-fit: cover;
  margin: 0px;
  border-bottom: 2px solid whitesmoke;
}

.item_name {
  line-height: 10px;
}

.price {
  font-weight: bolder;
  font-size: 16px;
  line-height: 16px;
}

.btn_item {
  font-size: 16px;
  font-weight: bolder;
  color: #2a7ae4;
  background: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.btn_item:hover {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

/* LOGIN SCREEN */

.login_container {
  background-color: whitesmoke;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_container p {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.login_container input,
select {
  width: 419px;
  height: 45px;
  margin: 10px;
  padding: 15px 0px 0px 9px;
  border: none;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shado: 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
}

.login_container button {
  width: 428px;
  height: 50px;
  color: white;
  border: none;
  background: #2a7ae4;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
}

.login_container button:hover {
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shado: 1px 1px 6px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.45);
}

.login_header {
  display: flex;
  justify-content: center;
  margin: 23px 8vw;
  align-items: center;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.input {
  font-size: 15px;
}

.input::placeholder {
  visibility: hidden;
  color: #00000000;
}

select {
  border: none;
  width: 428px;
  font-size: 15px;
  height: 59px;
}

.input-label {
  position: absolute;
  top: 20px;
  left: 18px;
  font-size: 11px;
  text-transform: uppercase;
  color: gray;
}

.input_footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.footer_label {
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
  text-transform: uppercase;
  color: gray;
  font-size: 10px;
}

.error {
  color: red;
}

.admin_container {
  height: 100%;
  padding: 50px 0px 50px 0px;
}

.categoria {
  visibility: visible;
}

.product-flex {
  display: flex;
  justify-content: space-around;
  padding: 0px 8vw 40px 8vw;
  align-items: center;
}

.product-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin-right: 40px;
}

.product-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.product-title {
  font-size: 32px;
  font-weight: bolder;
  line-height: 30px;
  margin: 0px;
}

.product-price {
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 20px;
}

.product-description {
  text-align: justify;
}

.title-simil {
  font-weight: bolder;
  font-size: 25px;
  padding: 40px 0px 10px 8vw;
}
